/* @import url('https://fonts.googleapis.com/css2?family=Jura:wght@200;500&family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Open+Sans:ital,wght@0,300;0,500;1,300;1,600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Open+Sans:ital,wght@0,300;0,500;1,300;1,600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');

.light,.navy,.rust,.coal,.ayu {
  --links: mediumslateblue;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  /* font-size: 1em !important; */
}

h1, h2, h3, h4, h5, h6 {
  color: mediumslateblue !important;
  font-family: 'Noto Sans Mono', monospace;
  /* font-family: "Jura", "Courier New", monospace; */
  /* font-family: 'IBM Plex Mono', "Courier New", monospace; */
  /* font-family: 'PT Mono', monospace; */
  font-weight: 400;
}

caption {
  font-size: 0.5em !important;
  width: 300px;
  height: auto;
  overflow: visible;
  text-wrap:pretty;
}

blockquote {
  background-color: white;
  color: mediumslateblue;
  border-block-start: none;
  border-block-end: none;
}

a,a:visited,a:link,a > .hljs {
  color: mediumslateblue;
}

a:hover {
  color: darkturquoise;
}

a.footnote:before{
  content: "["
}

a.footnote:after{
  content: "]"
}

.header, .header:link {
  color: mediumslateblue !important;
}

.sidebar {
  font-size: 1em !important;
  color: mediumslateblue;
}

emp, b {
  color: mediumslateblue;
  font-weight: 700;
}

/* .chapter li.chapter-item {
  font-size: 2em !important;
  line-height: 3em !important;
} */

.zine-button a, .zine-button a:visited, .zine-button a:hover {
background: mediumslateblue;
border-width: 1px;
border-radius: 5px;
color: white !important;
float: right;
font-weight: 600;
padding: 7px;
}

.img-small {
  width: 300px;
  height: auto;
  overflow: visible;
  text-wrap: pretty;
}

pdf {
  width: 325px;
  height: auto;
  float: right;
  margin: 10px;
}

#menu-button, .chapter-item {
  color: mediumslateblue;
  /* color: darkturquoise; */
}



table {
  text-align: center;
  vertical-align: top;
}

/* th {
  text-align: left !important;
} */

/* .site-title {
font-family: "Jura", monospace !important;
} */


